name: Generate Birgulsen JSON 
 
on: 
  push: 
    branches: 
      - main 
    paths: 
      - medya/birgulsen/**
 
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }} 
  cancel-in-progress: true 
 
permissions: 
  contents: write 
   
jobs: 
  generate_birgulsen_json: 
    runs-on: ubuntu-latest 
 
    steps: 
      - name: Sparse Checkout 
        uses: actions/checkout@v4 
        with: 
          sparse-checkout: | 
            medya/birgulsen/ 
            medya/birgulsen.json 
          sparse-checkout-cone-mode: false 
          fetch-depth: 0 
 
      - name: Install dependencies 
        run: | 
          sudo apt-get update 
          sudo apt-get install -y imagemagick jq 
 
      - name: Create birgulsen.json 
        run: | 
          # Geçici dosya oluştur
          temp_file=$(mktemp)
          
          # Resimleri bul ve sırala
          image_list=$(find medya/birgulsen -type f \( -iname "*.jpg" -o -iname "*.png" \) | sort -t'-' -k2 -rn)
          
          echo '{ "isaretler": [' > medya/birgulsen.json 
           
          for image in $image_list; do 
            dimensions=$(identify -format '%w %h' "$image") 
            filename=$(basename "$image") 
             
            echo "  {\"width\": \"${dimensions% *}\", \"height\": \"${dimensions#* }\", \"path\": \"$filename\"}," >> medya/birgulsen.json 
          done 
           
          # Sondaki virgülü temizle ve JSON'ı kapat 
          sed -i '$ s/,$//' medya/birgulsen.json 
          echo ']}' >> medya/birgulsen.json 
 
      - name: Validate JSON 
        run: jq empty medya/birgulsen.json || (echo "Invalid JSON"; exit 1) 
 
      - name: Commit & Push 
        run: | 
          git config --local user.name "GitHub Actions" 
          git config --local user.email "actions@github.com" 
          git add medya/birgulsen.json 
          git diff --quiet && git diff --staged --quiet || git commit -m "Otomatik: birgulsen.json güncellendi (sıralı)" 
          git pull --rebase origin main 
          git push origin HEAD:main
